nav a{
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    transition: all 0.2s;
}
nav a:hover{
   background-color: red;
   color: #fff;
}
nav{
    text-align: center;
    padding: 1rem;
 }
 .project{
    text-align: center;
 }
 button{
     background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    transition: all 0.2s;
 }
 button:hover{
   background-color: yellowgreen;
   color: #fff;
 }
  table,
      th,
      td {
        border: 1px solid #e7e7e7;
      }
      .project {
        background-color: #1c1c1c;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
      }

      .color {
        color: aliceblue;
        display: flex;
        flex-direction: row;
      }